@media only screen and (min-width: 0px) and (max-width: 390px){
    #butterfly{
        display: none;
    }
    #exit{
        display: none;
    }
    .banktr{
        display: none;

    }
    #ahll{
        display: none;
    }
    #Year-to-Date{
        display: flex; 
        justify-content: space-around;   
    }
    #second{
        /* border: 1px solid red; */
        width: 100% !important;
        margin-left: 10px;
        z-index: 1;

    }
    #today{
        transform: translateX(19px);
    }
    #i-want-to{
        transform: translateX(90px);
    }
    #Recent{
        transform: translateX(19px);
    }
    #bank01{
        transform: translateX(10px);
    }
    /* ///////////////////////////// */
    /* #second{
        display: none;
    } */
    /* //////////////////////////// */
    #three{
        /* border: 1px solid red; */
        width: 100%;
        margin-left: 0px;
    }
    #ri{
        margin-left: 10px;
    }
    #mge{
        display: table-cell;
    }
    #ge{
        display: flex;
        transform: translateX(120px);
        
    }
    
    #ge2{
        margin-left: 10px;
    }
    #hre{
        width: 100%;
    }
    #mge7{
        transform: translateX(10px);
    }
    #co{
        transform: translateX(40px); 
    }
    #coo{
        transform: translateX(40px);
    }
    #cooo{
        transform: translateX(40px);
    }
    .eeti{
        margin-top: 20px;
        font-size: 11px;
    }
    .embar{
        display: none;
    }
    #aaggee{
        display: table-cell;
        transform: translateX(30px);
    }
    #compare-do-i{
        font-size: 15px;
        transform: translateX(10px);
        margin-top: 1px;
    }
    #check{
        transform: translateY(-190px);
        margin-left: 340px;
    }
    .barchart-Wrapper{
        height: 80px;
    }
    .barchart{
        transform: translateY(40px);
        margin-left: 15px;
        /* border: 3px solid tomato; */

    }
    #aaggee{
        transform: translateX(20px);
    
    }
    .flex-wrapper{
        width: 170%;
        transform: translateX(-70px);
        
        
    }
    /* //////////////////////////////// */
    #three{
        /* display: none; */
        transform: translateY(-10px);
        /* margin-left: -180px; */
        
    }
    /* ///////////////////////// */
    #four{
        width: 100%;
        margin-left: 0px;


    }
    .update{
        border-radius: 1px 1px 10px 10px;
    }
    #view-help{
        display: none;
    }
    #slide{
        transform: translateX(10px);
    }
    #slid{
        transform: translateX(10px);
    }
    #sli{
        transform: translateX(10px);
    }
    #h4ec{
        transform: translateX(20px);
    }
    /* //////////////////////////////// */
    #four{
        /* display: none; */
        transform: translateY(700px);
    }
    /* //////////// */
    #foo{
        display: none;
    }
    #noti{
        transform: translateY(-520px) !important;
        margin-left: 310px !important;
    }
    #imgsM{
        display: flex;
        transform: translateY(700px);
        
    }
    #seacr{
        transform: translateY(860px);
        margin-left: 300px;
    }
    #person{
        transform: translateX(80px);
    }
    #data{
        transform: translateX(60px);
    }
    #news{
        transform: translateX(40px);
    }
    /* //////////////////////////////// */

    /* #one{
        display: none;
    } */

    /* ///////////////////////////////// */

    #foursli{
        transform: translateY(-700px);
    }
    #con{
        margin-top: 80px;
        transform: translateX(-10px);

    }
    #mgee{
        transform: translateX(-350px);
    }
    #ri{
        transform: translateX(-350px);
    }
    #second{
        transform: translateX(-350px);
    }
    #notifi{
        transform: translateY(-570px);
        margin-left: 350px;
    }




 
    /* //////////////////////// */




}
  